{% extends "base.html" %}
{% load static i18n %}

{% block titulo %}Restaurante{% endblock %}
{% block content %}
<!-- Header -->
<header id="hello">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="banner">
                    <h1>Las Mejores Carnes Asadas</h1>

                    <div class="inner_banner">
                        <div class="banner_content">
                            <p>Nuestros mejores cortes en la mejor parrillada, te invitamos a que pruebes nuestros
                                platos gourmet</p>
                            <p>*Cocinadas con el alma cordobesa acompañada de un buen vino o Fernet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Container end -->
</header><!-- Header end -->

<!-- Block Content -->
<section id="block">
    <div class="container">

        <!-- First section -->
        <div class="row">
            <div class="col-sm-8">
                <div class="feature">
                    <div class="shack_burger">
                        <div class="chicken">
                            <img src="{% static 'images/chicken.png' %}" alt="Chicken" />
                        </div>

                        <h2>Shack Burger </h2>
                        <p>Black Angus beef patty topped with American cheese, tomato, lettuce, and “Shack Sauce,”
                            served in a grilled potato bun</p>
                    </div>
                    <p class="caption">*Limited Time Only</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="signature">
                    <div class="shape">
                        <span class="flaticon flaticon-burger"></span>
                        <p>signature</p>
                    </div>
                    <div class="signature_content">
                        <p>It used to be a Secret but not any more! Our tribute to the King is a Cheddar Beef Patty,</p>
                    </div>
                </div>
            </div>
        </div><!-- first section end -->

        <!-- Second section -->

        <!-- second section end -->

        <!-- Third section -->
        <!-- Carousel -->
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>

            <!-- carousel inner -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{% static 'images/Carne4.png' %}" alt="Burger">

                    <div class="carousel-caption">
                        <h2>Cheddar JUnky</h2>
                        <h3>Stuffed Burgers</h3>

                        <p>Chef Wesley Genovart makes this over-the-top, Shake Shack–inspired burger with two thin
                            stacked patties, thick-cut bacon, kimchi and a spicy homemade sauce.</p>

                        <div class="info_btn_shadow">
                            <a href="" class="info_btn">info & nutrition</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/classic_bg.png' %}" alt="Burger">

                    <div class="carousel-caption">
                        <h2>Cheddar JUnky</h2>
                        <h3>Stuffed Burgers</h3>

                        <p>Chef Wesley Genovart makes this over-the-top, Shake Shack–inspired burger with two thin
                            stacked patties, thick-cut bacon, kimchi and a spicy homemade sauce.</p>

                        <div class="info_btn_shadow">
                            <a href="" class="info_btn">info & nutrition</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/large_slider_img.jpg' %}" alt="Burger">

                    <div class="carousel-caption">
                        <h2>Cheddar JUnky</h2>
                        <h3>Stuffed Burgers</h3>

                        <p>Chef Wesley Genovart makes this over-the-top, Shake Shack–inspired burger with two thin
                            stacked patties, thick-cut bacon, kimchi and a spicy homemade sauce.</p>

                        <div class="info_btn_shadow">
                            <a href="" class="info_btn">info & nutrition</a>
                        </div>
                    </div>
                </div>
            </div><!-- carousel inner end -->
        </div><!-- Carousel end-->

        <!-- Forth section -->
        <div class="col-sm-4">
            <div class="menu">
                <div onclick="location.href='/grilla';" class="inner_content">
                    <h2>Menú</h2>
                </div>
            </div>
        </div>
            <div class="col-sm-4">
                <div class="menu">
                    <div onclick="location.href='/grilla';" class="inner_content">
                        <h2> Realizar un Pedido</h2>
                    </div>
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="col-sm-4">
                <a> </a>
                <div class="sides">
                    <div onclick="location.href='/reserva';" class="inner_content">
                        <h2>Reservar</h2>
                    </div>
                </div>
            </div>

            {% endif %}

        </div><!-- forth section end -->
    </div>
</section><!-- Block Content end-->

<!-- Lock -->
<section id="lock">
    <h2>SERVING MORE THAN JUST BURGERS SINCE 1998</h2>
    <p>Check out our opening hours and location address below.</p>
</section>

<!-- Map -->
<div id="ourmaps"></div>

<!-- Footer -->
<footer>
    <!-- Container -->
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                <div class="subscribe">
                    <h4>Subscribe now</h4>
                    <p>Subscribe to the newsletter and
                        get some crispy stuff every week.</p>

                    <form role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control" id="em" placeholder="Enter your e-mail here">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn send_btn">
                                        <i class="glyphicon glyphicon-send"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="col-lg-3 col-sm-4 col-xs-12 col-lg-offset-1 pull-right">
                <div class="contact_us">
                    <h4>Contact Us</h4>
                    <a href="">info@junkyburget.com</a>

                    <address>
                        Jalan Awan Hijau, Taman OUG<br />
                        58200 Kuala Lumpur <br />
                        Malaysia <br />
                    </address>
                </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-12 pull-right">
                <div class="basic_info">
                    <a href=""><img class="footer_logo" src="{% static 'images/footer_logo.png' %}" alt="Burger" /></a>

                    <ul class="list-inline social">
                        <li><a href="" class="fa fa-facebook"></a></li>
                        <li><a href="" class="fa fa-twitter"></a></li>
                        <li><a href="" class="fa fa-instagram"></a></li>
                    </ul>

                    <div class="footer-copyright">
                        <p class="wow fadeInRight" data-wow-duration="1s">
                            Made with
                            <i class="fa fa-heart"></i>
                            by
                            <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a> <br />
                            2016. All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- Container end -->
</footer><!-- Footer end -->

{% endblock %}