{% extends 'base.html'%}
{% load static i18n %}


{% block content %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container black">
    <h1 style="text-align: center;">Has iniciado sesión</h1>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}